h1 {
    color: rgb(14, 14, 43);
    text-align: center;
  }
  h2 {
    color: burlywood;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
    box-sizing: border-box;
  }
  body{background-color: rgb(82, 6, 57);
margin: 0%;
padding: inherit 0;
}
.container{
    background-color:rgba(7, 112, 216, 0.251);
    min-height: 100px;
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    height:auto ;
}
  